
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: lightgray;
}

.book {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: rgb(141, 139, 139);
	margin: auto;
}

.container {
	background-color: rgb(78, 77, 77);
	width: auto;
	z-index: 1;
}

.top-bar {
	z-index: 2;
}